---
import Layout from '../../layouts/Layout.astro';
const layout = Layout;
---
<article>
  <h1>Towering Balsam</h1>
  <p><em>WED 23RD JUL '25</em></p>
  <img src="/my-blog-2/images/Ttoekbokki.jpg" alt="Towering Balsam" style="max-width: 100%; border-radius: 8px; margin-bottom: 1rem;" />
  <p>
    IT’S BEEN QUITE A WHILE SINCE I WAS OUT with Stroud Valleys Project, so it was nice to catch up with friends and get back into the rhythm of volunteering. Today’s task was tackling the towering Himalayan balsam along the riverbank. The plants were even taller than last year, and pulling them up was both satisfying and exhausting!
  </p>
  <p>
    The weather was perfect for working outdoors, and we made great progress clearing the area. It’s always rewarding to see the difference at the end of the day. Looking forward to more days like this!
  </p>
</article>