---
// filepath: /workspaces/my-blog-2/src/pages/diary.astro
import DiaryCard from '../components/DiaryCard.astro';
import entries from '../data/entries.js';
---
<div class="diary-grid">
  {entries.map(entry => <DiaryCard {...entry} />)}
</div>