---
import Layout from '../layouts/layout.astro';
---
<Layout>
  <article>
    <h2><a href="/posts/first-post">First Post Title</a></h2>
    <div class="date">24 July 2025</div>
    <p>Short summary of the post goes here...</p>
  </article>
  <!-- Repeat for more posts -->
</Layout>
