---
import "../styles/global.css";
+ const props = Astro.props;
+ const { children } = props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Astro Blog</title>
    <slot name="head" />
  </head>
    <main>
      <slot />
      <slot />
    </main>
    </main>
  </body>
</html>